.formContainer {
  max-width: 500px;
  margin: 40px auto;
  background-color: #1e1e1e;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #ffdd57;
}

.label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
}

.input:focus, .textarea:focus {
  border-color: #ffdd57;
  outline: none;
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btnSave {
  background-color: #ffdd57;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btnSave:hover {
  background-color: #218838;
}

.btnDelete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: #c82333;
}
